<!DOCTYPE html>
<!-- 安装了Port插件了之后只要按下ctrl+S保存对应的html界面就会自动更新 -->
<html  lang = "en">
<!-- lang表示本页面是英文网站还是中文网站 -->
<head>
    <meta charset = "UTF-8">
    <title>快递轨迹查询</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/express.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="css/Express_Project.css">
    <script src = "http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".dropdown-content #a1").click(function(){
                var temp =  $(".dropdown-content #a1").text();
                $(".dropbtn").text(temp);
            });
            $(".dropdown-content #a2").click(function(){
                var temp =  $(".dropdown-content #a2").text();
                $(".dropbtn").text(temp);
            });
            $(".dropdown-content #a3").click(function(){
                var temp =  $(".dropdown-content #a3").text();
                $(".dropbtn").text(temp);
            });
            $(".dropdown-content #a4").click(function(){
                var temp =  $(".dropdown-content #a4").text();
                $(".dropbtn").text(temp);
            });
        });

    </script>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-blue" id="body">
<div class="mdui-drawer" id="drawer">
    <ul class="mdui-list">
        <a href="../../H5Editor/index.html">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/kano.jpg" alt="钟健"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">钟健</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        HTML5编辑器
                    </div>
                </div>
            </li>
        </a>
        <a href="../../weatherForecast/index.html">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/zbq.jpg" alt="张博清"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">张博清</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        天气知道
                    </div>
                </div>
            </li>
        </a>
        <a href="">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/ztq.jpg" alt="赵天齐"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">赵天齐</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        不知道
                    </div>
                </div>
            </li>
        </a>
        <a href="#">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/syl.jpg" alt="施运礼"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">施运礼</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        物流轨迹查询
                    </div>
                </div>
            </li>
        </a>
    </ul>
</div>
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon" v-on:click="toggle()" id="menu"><i class="mdui-icon material-icons">menu</i></a>
        <a href="javascript:" class="mdui-typo-title">物流轨迹查询</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:location.reload(true);" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
        <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#demo-attr-cascade'}"><i class="mdui-icon material-icons">more_vert</i></button>
        <ul class="mdui-menu mdui-menu-cascade" id="demo-attr-cascade">
            <li class="mdui-menu-item">
                <a href="javascript:" class="mdui-ripple">
                    颜色主题
                    <span class="mdui-menu-item-more"></span>
                </a>
                <ul class="mdui-menu mdui-menu-cascade" id="colorThemeItems">
                    <li class="mdui-menu-item" v-for="i of item">
                        <a v-on:click="setTheme(i.value)" class="mdui-ripple">
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-if="i.now === true">check_circle</i>
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-else>radio_button_unchecked</i>
                            {{ i.name }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="mdui-container">
    <br />
    <br />
    <div class="mdui-row">
        <div class="mdui-col-xs-12">
            <select class="mdui-select" mdui-select>
                <option value="1">申通快递</option>
                <option value="2">圆通速递</option>
                <option value="3">百世快递</option>
                <option value="4">天天快递</option>
            </select>
        </div>
        <div class="mdui-col-xs-10">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">快递单号</label>
                <input class="mdui-textfield-input" type="text"/>
            </div>
        </div>
        <div class="mdui-col-xs-2">
            <br />
            <br />
            <button id="submit_btn" class="mdui-btn mdui-ripple mdui-btn-block mdui-color-theme">查询</button>
        </div>
    </div>
    <div class="mdui-row">
        <ul class="mdui-list" id="timeline">

        </ul>
    </div>
</div>
</body>
<script>
    let express_menu = new Vue({
        el: "#menu",
        methods: {
            toggle: function () {
                let inst = new mdui.Drawer('#drawer');
                inst.toggle();
            }
        }
    });
    let colorThemeItems = new Vue({
        el: "#colorThemeItems",
        data: {
            item: [
                {name: "蓝色", value: "mdui-theme-primary-blue", now: true},
                {name: "红色", value: "mdui-theme-primary-red", now: false},
                {name: "绿色", value: "mdui-theme-primary-green", now: false},
                {name: "白色", value: "mdui-theme-primary-white", now: false},
                {name: "夜间模式", value: "mdui-theme-layout-dark", now: false},
            ],
        },
        methods: {
            setTheme: function (color) {
                let classes = document.getElementsByTagName("body").body.className.split(" ");
                for (let i = 0; i < classes.length; i++) {
                    if (classes[i].substr(0, 18) === "mdui-theme-primary" || classes[i].substr(0, 22) === "mdui-theme-layout-dark") {
                        for (let ii of this.item) {
                            if (ii.value === classes[i]) {
                                ii.now = false;
                            }
                            else if (ii.value === color) {
                                ii.now = true;
                            }
                        }
                        classes[i] = color;
                        break;
                    }
                }
                document.getElementsByTagName("body").body.className = "";
                for (let i of classes) {
                    document.getElementsByTagName("body").body.className += i + " ";
                }
            },
        }
    });
</script>
</html>