<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./css/mdui.css"/>
    <link rel="stylesheet" href="./css/codemirror.css">
    <link rel="stylesheet" href="./css/md-light.css" id="themeCss">
    <script src="./js/codemirror.js"></script>
    <script src="./js/htmlmixed.js"></script>
    <script src="./js/xml.js"></script>
    <script src="./js/javascript.js"></script>
    <script src="./js/css.js"></script>
    <script src="./js/vbscript.js"></script>
    <script src="./js/mdui.js"></script>
    <script src="./js/vue.js"></script>
    <title>H5 Editor</title>
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-appbar-with-tab-larger mdui-theme-primary-blue" id="body">
<div class="mdui-drawer" id="drawer">
    <ul class="mdui-list">
        <a href="#">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/kano.jpg" alt="钟健"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">钟健</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        HTML5编辑器
                    </div>
                </div>
            </li>
        </a>
        <a href="../weatherForecast/index.html">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/zbq.jpg" alt="张博清"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">张博清</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        天气知道
                    </div>
                </div>
            </li>
        </a>
        <a href="">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/ztq.jpg" alt="赵天齐"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">赵天齐</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        不知道
                    </div>
                </div>
            </li>
        </a>
        <a href="../快递路径查询/Express_Project/Express_Project.html">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar"><img src="./src/syl.jpg" alt="施运礼"/></div>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title">施运礼</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">
                        物流轨迹查询
                    </div>
                </div>
            </li>
        </a>
    </ul>
</div>
<div class="mdui-appbar mdui-appbar-fixed">
    <div class="mdui-toolbar mdui-color-theme">
        <a class="mdui-btn mdui-btn-icon" v-on:click="toggle()" id="menu"><i class="mdui-icon material-icons">menu</i></a>
        <a href="javascript:" class="mdui-typo-title">HTML编辑器</a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="javascript:location.reload(true);" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
        <button class="mdui-btn mdui-btn-icon" mdui-menu="{target: '#demo-attr-cascade'}"><i class="mdui-icon material-icons">more_vert</i></button>
        <ul class="mdui-menu mdui-menu-cascade" id="demo-attr-cascade">
            <li class="mdui-menu-item">
                <a href="javascript:" class="mdui-ripple">
                    颜色主题
                    <span class="mdui-menu-item-more"></span>
                </a>
                <ul class="mdui-menu mdui-menu-cascade" id="colorThemeItems">
                    <li class="mdui-menu-item" v-for="i of item">
                        <a v-on:click="setTheme(i.value)" class="mdui-ripple">
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-if="i.now === true">check_circle</i>
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-else>radio_button_unchecked</i>
                            {{ i.name }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mdui-menu-item">
                <a href="javascript:" class="mdui-ripple">
                    字号
                    <span class="mdui-menu-item-more"></span>
                </a>
                <ul class="mdui-menu mdui-menu-cascade" id="fontSize">
                    <li class="mdui-menu-item" v-for="i of item">
                        <a v-on:click="setSize(i.value)" class="mdui-ripple">
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-if="i.now === true">check_circle</i>
                            <i class="mdui-menu-item-icon mdui-icon material-icons" v-else>radio_button_unchecked</i>
                            {{ i.name }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mdui-tab mdui-color-theme" mdui-tab id="tab">
        <a v-on:click="changePage(true)" class="mdui-ripple mdui-ripple-white">
            <i class="mdui-icon material-icons">code</i>
            <label>代码</label>
        </a>
        <a v-on:click="changePage(false)" class="mdui-ripple mdui-ripple-white">
            <i class="mdui-icon material-icons"><i class="mdui-icon material-icons">remove_red_eye</i></i>
            <label>预览</label>
        </a>
    </div>
</div>
<div class="mdui-container">
    <div id="firstPage">
        <textarea id="codeArea"></textarea>
    </div>
    <div id="secondPage" class="secondPage">
        <iframe id="preview" ref="preview" frameborder="0" class="preview"></iframe>
    </div>
</div>
</body>
<script>
    let h5editor_menu = new Vue({
        el: "#menu",
        methods: {
            toggle: function () {
                let inst = new mdui.Drawer('#drawer');
                inst.toggle();
            }
        }
    });
    let editor = CodeMirror.fromTextArea(document.getElementById("codeArea"),{
        mode: {
            name: "htmlmixed",
            scriptTypes: [
                {matches: /\/x-handlebars-template|\/x-mustache/i, mode: null},
                {matches: /(text|application)\/(x-)?vb(a|script)/i, mode: "vbscript"}
            ]
        },
        lineNumbers: true,
        theme: "material"
    });
    let preview = new Vue({
        el: "#preview",
        methods: {
            show: function() {
                let content = editor.getValue();
                if (content.trim() === "about") {
                    this.$refs.preview.srcdoc = "<html><body><h1>关于</h1>" +
                        "<h2>组员:</h2>" +
                        "<ul>" +
                        "<li>钟健</li>" +
                        "<li>张博清</li>" +
                        "<li>赵天齐</li>" +
                        "<li>施运礼</li></ul>" +
                        "<h2>项目地址</h2>" +
                        "<a href='https://github.com/html5-group8/gadget-set'>Github</a>" +
                        "</body></html>";
                }
                else {
                    this.$refs.preview.srcdoc = content;
                }
            }
        }
    });
    let tab = new Vue({
        el: "#tab",
        methods: {
            changePage: function(a) {
                let f = document.getElementById("firstPage");
                let s = document.getElementById("secondPage");
                if (a) {
                    f.style.display = "block";
                    s.style.display = "none";
                }
                else {
                    preview.show();
                    f.style.display = "none";
                    s.style.display = "block";
                }
            }
        }
    });
    let colorThemeItems = new Vue({
        el: "#colorThemeItems",
        data: {
            item: [
                {name: "蓝色", value: "mdui-theme-primary-blue", now: true},
                {name: "红色", value: "mdui-theme-primary-red", now: false},
                {name: "绿色", value: "mdui-theme-primary-green", now: false},
                {name: "白色", value: "mdui-theme-primary-white", now: false},
                {name: "夜间模式", value: "mdui-theme-layout-dark", now: false},
            ],
        },
        methods: {
            setTheme: function (color) {
                let classes = document.getElementsByTagName("body").body.className.split(" ");
                for (let i = 0; i < classes.length; i++) {
                    if (classes[i].substr(0, 18) === "mdui-theme-primary" || classes[i].substr(0, 22) === "mdui-theme-layout-dark") {
                        for (let ii of this.item) {
                            if (ii.value === classes[i]) {
                                ii.now = false;
                            }
                            else if (ii.value === color) {
                                ii.now = true;
                            }
                        }
                        classes[i] = color;
                        break;
                    }
                }
                if (color === "mdui-theme-layout-dark") {
                    document.getElementById('themeCss').href = './css/md-dark.css';
                }
                else {
                    document.getElementById('themeCss').href = './css/md-light.css';
                }
                document.getElementsByTagName("body").body.className = "";
                for (let i of classes) {
                    document.getElementsByTagName("body").body.className += i + " ";
                }
            },
        }
    });
    let fontSize = new Vue({
        el: "#fontSize",
        data: {
            item: [
                {name: "11", value: 11, now: false},
                {name: "12", value: 12, now: false},
                {name: "13", value: 13, now: false},
                {name: "14", value: 14, now: false},
                {name: "15", value: 15, now: false},
                {name: "16", value: 16, now: true},
                {name: "17", value: 17, now: false},
                {name: "18", value: 18, now: false},
                {name: "19", value: 19, now: false},
                {name: "20", value: 20, now: false},
                {name: "21", value: 21, now: false},
                {name: "22", value: 22, now: false},
            ],
        },
        methods: {
            setSize: function (size) {
                for (let i of this.item) {
                    i.now = i.value === size;
                }
                console.log(size + "px");
                document.getElementsByClassName("CodeMirror cm-s-material")[0].style.fontSize = size + "px";
            },
        }
    });
</script>
</html>